@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/*index.html*/

body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  scroll-behavior: smooth;
}

nav {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin-right: 30px;
  list-style: none;
  color: black;
  flex-wrap: wrap;
  color: #3a4643;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-family: Sacramento;
  font-size: 150px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  text-decoration: overline solid 1px #589f66;
  color: #3a4643;
}

h2 {
  margin-top: -115px;
  font-family: montserrat;
  font-size: 50px;
  text-align: center;
  color: #589f66;
}

p {
  margin-top: 115px;
  text-align: center;
  font-size: 60px;
  font-family: Sacramento;
  color: #3a4643;
}

.network {
  font-size: 100px;
  color: #3a4643;
  padding: 20px 45px;
  border: #3a4643 1px solid;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px gray;
 }

.network:hover {
  background-color: #3a4643;
  color: #589f66;
}



/*pour centrer images = section=text align + img=display inline block*/
section {
  text-align: center;
  height: 100%;
}

img {
  width: 500px;
  display: inline-block;
  border-radius: 1%;
  margin-top: 110px;
  box-shadow: 5px 5px 5px 0px gray;
}

img:hover {
  box-shadow: 5px 5px 5px 0px #589f66;
}
/*index.html*/

/* Flou image*/
img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
/* Flou image*/

/*CONTACT.HTML*/
.contact {
  margin-top: 60px;
  font-size: 25px;
  color: #3a4643;
}

.tel {
  font-size: 100px;
  display: inline-block;
  color: #3a4643;
  padding: 20px 45px;
  border: #3a4643 1px solid;
  margin-top: 0px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px gray;
  margin-bottom: 90px;
}

.tel:hover {
  background-color: #3a4643;
  color: #589f66;
}

iframe {
  border-radius: 5px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 5px 5px 5px 0px gray;
}

.pheure{
  margin-top: 100px;
  text-decoration: underline 1px #3a4643;
}

.sheure{
  margin-top: 10px;
  font-size: 25px;
  font-family: "Montserrat";
  color: #589f66;
}

.footer {
  font-size: 15px;
  font-family: "Montserrat";
  margin-top: 20px;
  color: white;

}

.footer2 {
  font-size: 15px;
  font-family: "Montserrat";
  margin-top: 20px;
  color: white;
}
/*CONTACT.HTML*/

/*TARIFS.HTML*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  margin-left: 150px;
  border: 1px solid black;
}

.card {
  align-items: center;
  justify-content: center;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  width: 500px;
  border-radius: 1%;
  margin-top: 10px;
  filter: none;
  box-shadow: 5px 5px 5px 0px gray;
}

img:hover {
  box-shadow: 5px 5px 5px 0px #589f66;
}

.h2card {
  font-weight: lighter;
  margin-bottom: 10px;
  font-family: "Sacramento";
  font-size: 55px;
  margin-top: 150px;
  color: #3a4643;
  font-style:italic;
  text-decoration: underline 1px   #3a4643;
}

.h3card {
  font-weight: lighter;
  font-family: "Sacramento";
  font-size: 35px;
  margin-top: 10px;
  color: #3a4643;
}

.pcard {
  font-family: "Montserrat";
  font-size: 30px;
  margin-top: 50px;
}


.pheure{
  font-size: 50px;
  margin-top: 50px;
  text-decoration: underline 1px #3a4643;
}

.sheure{
 
  font-size: 30px;
  font-family: Montserrat;
  color: #589f66;
  
}

.div_footer{
  margin-top: 50px;
  background-color: #3a4643;
  margin-bottom: -20px;

}
  /*TARIFS.HTML*
  





/*RESPONSIVE*/

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 100px;
    margin-bottom: -18px;
  }

  h2 {
    font-size: 30px;
    margin-top: 15px;
  }

  iframe {
    height: 500px;
    width: 800px;
  }

  .footer {
    font-size: 10px;
    font-family: "Montserrat";
    display: inline-flex;
    margin-top: 180px;
  }

  .footer2 {
    font-size: 10px;
    font-family: "Montserrat";
    display: inline-flex;
    margin-top: 0px;
  }

  .div_footer{
    margin-top: 50px;
    background-color: #3a4643;
    

  }
}

/*RESPONSIVE*/

/*RESPONSIVE*/

@media screen and (max-width: 750px) {
  h1 {
    font-size: 60px;
    margin-bottom: -20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  img {
    width: 300px;
    box-shadow: 5px 5px 5px 0px #589f66 !important;
    filter: none;
  }

  .card img {
    width: 300px;
  }

  p {
    font-size: 40px;
  }

  iframe {
    height: 300px;
    width: 400px;
  }

  .div_footer{
    margin-top: 50px;
    background-color: #3a4643;

  }
}

/*RESPONSIVE*/

/*RESPONSIVE*/

@media screen and (max-width: 390px) {
  nav {
    font-size: 15px;
    margin-bottom: -20px;
  }

  h1 {
    font-size: 40px;
    margin-top: 50px;
  }

  img {
    width: 250px;
    margin-left: 30px;
    margin-top: 25px;
    box-shadow: 5px 5px 5px 0px #589f66 !important;
    filter: none;
  }

  .card img {
    width: 250px;
    margin-right: 20px;
    filter: none;
  }

  p {
    font-size: 35px;
    padding: 10px 10px;
    margin-top: 25px;
  }

  .contact {
    margin-top: 40px;
    margin-bottom: -40px;
    font-size: 12px;
    color: #3a4643;
  }

  iframe {
    height: 300px;
    width: 300px;
  }
  .network {
    font-size: 2em;
    margin-left: 30px;
    background-color: #3a4643;
    color: #589f66;
  }
  .tel {
    margin-left: 30px;
    font-size: 2em;
    background-color: #3a4643;
    color: #589f66;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  .footer {
    font-size: 8px;
    font-family: "Montserrat";
    margin-top: 50px;
    color: white;
  }

  .footer2 {
    font-size: 8px;
    font-family: "Montserrat";
    display: inline-flex;
    margin-top: 0px;
    color: white;
  }

  img:hover {
    box-shadow: 5px 5px 5px 0px #589f66;
  }

  .h2card {
    font-weight: lighter;
    margin-bottom: 20px;
    font-family: "Sacramento";
    font-size: 30px;
    margin-top: 100px;
    color: #3a4643;
  }

  .h3card {
    font-weight: lighter;
    font-family: "Sacramento";
    font-size: 25px;
    margin-top: 10px;
    color: #3a4643;
  }

  .pcard {
    font-family: "Montserrat";
    font-size: 15px;
    margin-top: 30px;
  }

  .pheure{
    font-size: 25px;
    margin-top: 10px;
    text-decoration: underline 1px #3a4643;
  }
  
  .sheure{
   
    font-size: 18px;
    font-family: Montserrat;
    color: #589f66;
  }

  .rdv{
    margin-bottom: 0px;
    margin-top: 80px;
    font-size: 25px;
  }

  .div_footer{
    margin-top: 50px;
    background-color: #3a4643;
  }

}
/*RESPONSIVE*/
