/*index.html*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
  scroll-behavior: smooth;
}

nav {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin-right: 30px;
  list-style: none;
  color: black;
  flex-wrap: wrap;
  color: #3a4643;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-family: Sacramento;
  font-size: 150px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  text-decoration: overline solid 1px black;
  color: #3a4643;
}

h2 {
  margin-top: -115px;
  font-family: montserrat;
  font-size: 50px;
  text-align: center;
  color: #589f66;
}

p {
  margin-top: 115px;
  text-align: center;
  font-size: 60px;
  font-family: Sacramento;
  color: #3a4643;
}

.network {
  font-size: 100px;
  display: inline-block;
  color: #3a4643;
  padding: 20px 45px;
  border: #3a4643 1px solid;
  margin-bottom: 10%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px gray;

}

.network:hover {
  background-color: #3a4643;
  color: #589f66;
}

/*pour centrer images = section=text align + img=display inline block*/
section {
  text-align: center;
  height: 100%;
}

img {
  width: 500px;
  margin: 25px;
  border-radius: 1%;
  margin-top: 110px;
  box-shadow: 5px 5px 5px 0px gray;
  display: inline-block;
}

img:hover {
  box-shadow: 5px 5px 5px 0px #589f66;
}

/* Flou */
img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* contact.html */
.contact {
  margin-top: 110px;
  color: #3a4643;
}

.tel {
  font-size: 100px;
  display: inline-block;
  color: #3a4643;
  padding: 20px 45px;
  border: #3a4643 1px solid;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px gray;
}

.tel:hover {
  background-color: #3a4643;
  color: #589f66;
}

iframe {
  border-radius: 5px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: 5px 5px 5px 0px gray;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 100px;
    margin-bottom: -18px;
  }

  h2 {
    font-size: 30px;
    margin-top: 15px;
  }

  iframe {
    height: 500px;
    width: 800px;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 60px;
    margin-bottom: -20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  img {
    width: 300px;
  }
  p {
    font-size: 40px;
  }

  iframe {
    height: 300px;
    width: 400px;
  }
}

@media screen and (max-width: 390px) {
  nav {
    font-size: 15px;
    padding-bottom: 5px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: -20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  img {
    width: 250px;
  }

  p {
    font-size: 30px;
  }

  iframe {
    height: 300px;
    width: 300px;
  }
  .network {
    font-size: 10px;
  }
}
